schemas/v4/cancNFe_v1.04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:nfe="http://www.portalfiscal.inf.br/nfe" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.portalfiscal.inf.br/nfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema_v1.00.xsd"/>
	<xs:include schemaLocation="tiposNFe_v1.04.xsd"/>
	<xs:element name="cancNFe">
		<xs:annotation>
			<xs:documentation>Schema XML de validação do Pedido de Cancelamento da Nota Fiscal Eletrônica</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="infCanc">
					<xs:annotation>
						<xs:documentation>Dados do Pedido de Cancelamento da Nota Fiscal Eletrônica</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="xServ" fixed="CANCELAR">
								<xs:annotation>
									<xs:documentation>Serviço Solicitado</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="CANCELAR"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="chNFe" type="nfe:TChNFe">
								<xs:annotation>
									<xs:documentation>Chaves de acesso compostas por Código da UF + AAMM da emissão + CNPJ do Emitente + Modelo, Série e Número da NF-e + Código Numérico + DV.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="nProt" type="nfe:TProt">
								<xs:annotation>
									<xs:documentation>Número do Protocolo de Status da NF-e. 1 posição (1 – Secretaria de Fazenda Estadual 2 – Receita Federal); 2 posições ano; 10 seqüencial no ano.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Id" type="xs:ID" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element ref="ds:Signature"/>
			</xs:sequence>
			<xs:attribute name="versao" use="required" fixed="1.04">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="4"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
