schemas/v4/consSitNFe_v1.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nfe="http://www.portalfiscal.inf.br/nfe" targetNamespace="http://www.portalfiscal.inf.br/nfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="tiposNFe_v1.03.xsd"/>
	<xs:element name="consSitNFe">
		<xs:annotation>
			<xs:documentation>Schema XML de validação do Pedido de Consulta da Situação Atual da Nota Fiscal Eletrônica</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="xServ" fixed="CONSULTAR">
					<xs:annotation>
						<xs:documentation>Serviço Solicitado</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="CONSULTAR"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="chNFe" type="nfe:TChNFe">
					<xs:annotation>
						<xs:documentation>Chaves de acesso da NF-e, compostas por: UF do emitente, AAMM da emissão da NFe, CNPJ do emitente, modelo, série e número da NF-e e código numérico + DV.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="versao" use="required" fixed="1.03">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="4"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
