schemas/v4/retEnviNFe_v1.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:nfe="http://www.portalfiscal.inf.br/nfe" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.portalfiscal.inf.br/nfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="tiposNFe_v1.03.xsd"/>
	<xs:element name="retEnviNFe">
		<xs:annotation>
			<xs:documentation>Schema XML de validação do retorno do Pedido de Concessão de Autorização da Nota Fiscal Eletrônica</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cStat" type="nfe:TStat">
					<xs:annotation>
						<xs:documentation>Código do status da mensagem enviada.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="xMotivo" type="nfe:TMotivo">
					<xs:annotation>
						<xs:documentation>Descrição literal do status do serviço solicitado.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="infRec" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Dados do Recibo do Lote</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nRec" type="nfe:TRec">
								<xs:annotation>
									<xs:documentation>Número do Recibo</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="dhRecbto" type="xs:dateTime">
								<xs:annotation>
									<xs:documentation>Data e hora do recebimento, no formato AAAA-MM-DDTHH:MM:SS</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="tMed">
								<xs:annotation>
									<xs:documentation>Tempo médio de resposta do serviço (em segundos) dos últimos 5 minutos</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:pattern value="[0-9]{1,4}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="versao" use="required" fixed="1.03">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="4"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
