schemas/v4/xmldsig-core-schema_v1.00.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Schema específico para assinaturas XML a partir de certificados do padrão ICP-Brasil (X509) -->
<!-- Projeto Nota Fiscal Eletrônica -->
<!-- Schema for XML Signatures
    http://www.w3.org/2000/09/xmldsig#
    $Revision: 1.1 $ on $Date: 2002/02/08 20:32:26 $ by $Author: reagle $

    Copyright 2001 The Internet Society and W3C (Massachusetts Institute
    of Technology, Institut National de Recherche en Informatique et en
    Automatique, Keio University). All Rights Reserved.
    http://www.w3.org/Consortium/Legal/

    This document is governed by the W3C Software License [1] as described
    in the FAQ [2].

    [1] http://www.w3.org/Consortium/Legal/copyright-software-19980720
    [2] http://www.w3.org/Consortium/Legal/IPR-FAQ-20000620.html#DTD
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.w3.org/2000/09/xmldsig#" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1">
	<element name="Signature" type="ds:SignatureType"/>
	<complexType name="SignatureType">
		<sequence>
			<element name="SignedInfo" type="ds:SignedInfoType"/>
			<element name="SignatureValue" type="ds:SignatureValueType"/>
			<element name="KeyInfo" type="ds:KeyInfoType"/>
		</sequence>
		<attribute name="Id" type="ID" use="optional"/>
	</complexType>
	<complexType name="SignatureValueType">
		<simpleContent>
			<extension base="base64Binary">
				<attribute name="Id" type="ID" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="SignedInfoType">
		<sequence>
			<element name="CanonicalizationMethod">
				<complexType>
					<attribute name="Algorithm" type="anyURI" use="required"/>
				</complexType>
			</element>
			<element name="SignatureMethod">
				<complexType>
					<attribute name="Algorithm" type="anyURI" use="required"/>
				</complexType>
			</element>
			<element name="Reference" type="ds:ReferenceType" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="Id" type="ID" use="optional"/>
	</complexType>
	<complexType name="ReferenceType">
		<sequence>
			<element name="Transforms" type="ds:TransformsType"/>
			<element name="DigestMethod">
				<complexType>
					<attribute name="Algorithm" type="anyURI" use="required"/>
				</complexType>
			</element>
			<element name="DigestValue" type="ds:DigestValueType"/>
		</sequence>
		<attribute name="Id" type="ID" use="optional"/>
		<attribute name="URI" type="anyURI" use="optional"/>
		<attribute name="Type" type="anyURI" use="optional"/>
	</complexType>
	<complexType name="TransformsType">
		<sequence>
			<element name="Transform" type="ds:TransformType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="TransformType">
		<sequence minOccurs="0" maxOccurs="unbounded">
			<element name="XPath" type="string"/>
		</sequence>
		<attribute name="Algorithm" type="anyURI" use="required"/>
	</complexType>
	<complexType name="KeyInfoType">
		<sequence>
			<element name="X509Data" type="ds:X509DataType"/>
		</sequence>
		<attribute name="Id" type="ID" use="optional"/>
	</complexType>
	<complexType name="KeyValueType">
		<sequence>
			<element name="RSAKeyValue">
				<complexType>
					<sequence>
						<element name="Modulus" type="ds:CryptoBinary"/>
						<element name="Exponent" type="ds:CryptoBinary"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="X509DataType">
		<sequence>
			<element name="X509Certificate" type="base64Binary"/>
		</sequence>
	</complexType>
	<!-- Basic Types Defined for Signatures -->
	<simpleType name="CryptoBinary">
		<restriction base="base64Binary"/>
	</simpleType>
	<simpleType name="DigestValueType">
		<restriction base="base64Binary"/>
	</simpleType>
</schema>
